[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/RLovelett/eigen
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
