[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third_party/cub"]
	path = third_party/cub
	url = https://github.com/NVlabs/cub
[submodule "third_party/mkldnn"]
	path = third_party/mkldnn
	url = https://github.com/intel/mkl-dnn
[submodule "third_party/ComputeLibrary"]
	path = third_party/ComputeLibrary
	url = https://github.com/ARM-software/ComputeLibrary
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/NNPACK"]
	path = third_party/NNPACK
	url = https://github.com/Maratyszcza/NNPACK
[submodule "third_party/QNNPACK"]
	path = third_party/QNNPACK
	url = https://github.com/pytorch/QNNPACK
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
