[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third_party/cub"]
	path = third_party/cub
	url = https://github.com/NVlabs/cub
[submodule "third_party/mkldnn"]
	path = third_party/mkldnn
	url = https://github.com/intel/mkl-dnn
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/XNNPACK"]
	path = third_party/XNNPACK
	url = https://github.com/google/XNNPACK
